<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="org.sam.shen.monitor.mapper.NotifierMapper">
    <resultMap id="NotifierMap" type="org.sam.shen.monitor.entity.Notifier">
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="selectFromAgent" resultMap="NotifierMap">
        select admin as `name`, admin_phone as phone, admin_email as email
        from agent
        where id = #{agentId}
    </select>

    <select id="selectFromJob" resultMap="NotifierMap">
        select ji.admin as `name`, ji.admin_phone as phone, ji.admin_email as email
        from job_event je,
             job_info ji
        where je.job_id = ji.id
          and je.event_id = #{eventId}
    </select>
</mapper>