server:
  port: 8888
  servlet:
    context-path: /${spring.application.name}

# cluster config
cluster: 
  initLimit: 1
  tickTime: 2000
  cnxTimeout: 5000
  syncLimit: 5 
  clusterListenOnAllIPs: false
  servers: 
#    node.2: 192.168.140.216:2888:3888
#    node.1: 192.168.140.236:2888:3888
    node.3: 192.168.140.146:2888:3888
#    node.4: 192.168.140.21:2888:3888

monitor:
  url: http://127.0.0.1:9001/monitor/collect
  alarmType: EMAIL
  heartbeat:
    timeout: 60000
  event:
    timeout: 60000

spring:
  profiles:
    active: dev
  application:
    name: radish-scheduing
  jackson:
    default-property-inclusion: non_null
  mvc:
    static-path-pattern: /static/**
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: LEGACYHTML5
    encoding: UTF-8
    servlet:
      content-type: text/html
  resources:
    chain:
      strategy:
        content:
          enabled: true
          paths: /**
  datasource:
    # 以下对应druid数据源的配置
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 1
      max-active: 20
      min-idle: 1
      max-wait: 60000
      validation-query: SELECT 1 FROM DUAL
      pool-prepared-statements: true
      validationQueryTimeout: 5
      test-on-borrow: false
      test-on-return: false
      test-while-idle: true
      max-open-prepared-statements: 20
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      filters: stat

#mybatis
mybatis: 
  mapper-locations: classpath:/mapper/*Mapper.xml
  type-aliases-package: org.sam.shen.scheduing.entity  # 注意：对应实体类的路径
  config-location: classpath:mybatis-config.xml

#pagehelper分页插件
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

quartz:
  path: quartz.properties

---

# 生产环境配置
spring:
  profiles: prod
  thymeleaf:
    cache: true
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://??????/radish?useUnicode=true&characterEncoding=UTF-8
    username: ???
    password: ???
  redis:
    database: 3
    host: ???.???.???.???
    port: 6379
    password: pass
    timeout: 3000ms
    jedis:
      pool:
        max-active: 8
        max-wait: -1s
        max-idle: 8
        min-idle: 0

---

# 开发环境配置
spring:
  profiles: dev
  thymeleaf:
    cache: false
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.140.215:3306/radish?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: 111111
  redis:
    database: 1
    host: 192.168.140.215
    port: 6379
    password: pass
    timeout: 3000ms
    jedis:
      pool:
        max-active: 8
        max-wait: -1s
        max-idle: 8
        min-idle: 0

