<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>添加Job 信息</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/modules/formSelects-v4.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/codemirror/lib/codemirror.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/codemirror/addon/display/fullscreen.css}" />
    <link rel="stylesheet" th:href="@{/static/js/codemirror/theme/idea.css}"/>
    <link rel="icon" th:href="@{/static/image/code.png}">
</head>
<body class="body">
<div class="layui-row layui-col-space10 layui-col-md8 my-index-main">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	    <legend>编辑 Job 任务</legend>
	</fieldset>
	
	<form class="layui-form" name="agent" th:action="@{/portal/job-save}" method="post">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">任务ID</label>
                <div class="layui-input-inline">
                    <input type="input" name="id" readonly="readonly" th:value="${jobInfo.id}" placeholder="任务ID" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">任务名</label>
                <div class="layui-input-inline">
                    <input type="input" name="jobName" readonly="readonly" th:value="${jobInfo.jobName}" placeholder="任务名" class="layui-input">
                </div>
            </div>
        </div>
	    <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">任务类型</label>
                <div class="layui-input-inline">
                    <select name="handlerType" class="layui-input" lay-filter="handlerType">
                        <option value=""></option>
                        <option th:each="enum : ${handlerType}" th:value="${enum}" th:text="${enum.desc}" th:selected="${jobInfo.handlerType} eq ${enum} ? true : false" />
                    </select>
                </div>
            </div>
	        <div class="layui-inline">
                <label class="layui-form-label" id="crontab-tips"><i class="layui-icon">&#xe60b;</i> 调度规则</label>
                <div class="layui-input-inline">
                    <input id="crontab" lay-verify="pJob" name="crontab" th:value="${jobInfo.crontab}" placeholder="0 * 1 * * ?" class="layui-input">
                </div>
            </div>
	    </div>
	    <div class="layui-form-item">
            <div class="layui-inline">
               <label class="layui-form-label">管理员</label>
               <div class="layui-input-inline">
                   <input type="input" name="admin" th:value="${jobInfo.admin}" placeholder="管理员" class="layui-input">
               </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">管理员手机</label>
                <div class="layui-input-inline">
                    <input type="input" name="adminPhone" th:value="${jobInfo.adminPhone}" placeholder="管理员手机号" class="layui-input">
                </div>
            </div>
	    </div>
	    <div class="layui-form-item">
	        <label class="layui-form-label">管理员邮箱</label>
	        <div class="layui-input-block">
	            <input type="input" name="adminEmail" th:value="${jobInfo.adminEmail}" placeholder="管理员邮箱" class="layui-input">
	        </div>
	    </div>
	    <div class="layui-form-item">
            <label class="layui-form-label">父节点任务</label>
            <div class="layui-input-block">
                <select name="parentJob" xm-select="parent-select" xm-select-search="" xm-select-search-type="dl" xm-select-radio>
                    <option value=""></option>
                    <option th:each="pjob : ${parentJob}" th:value="${pjob.id}" th:selected="true" th:text="${pjob.jobName}" />
                </select>
            </div>
        </div>
	    <div class="layui-form-item">
            <label class="layui-form-label">处理器</label>
            <div class="layui-input-block">
                <select name="agentHandlers" xm-select="agent-select" xm-select-search="" xm-select-search-type="dl">
                    <option value=""></option>
                    <option th:each="handler : ${handlers}" th:value="${handler}" th:selected="true" th:text="${#strings.arraySplit(handler,'-')[1]}" />
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">失败策略</label>
            <div class="layui-input-block">
                <select name="handlerFailStrategy" class="layui-input" lay-filter="handlerFailStrategy">
                    <option value=""></option>
                    <option th:each="enum : ${handlerFailStrategy}" th:value="${enum}" th:selected="${jobInfo.handlerFailStrategy} eq ${enum} ? true : false" th:text="${enum.desc}" />
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分片策略</label>
            <div class="layui-input-block">
                <select name="distType" class="layui-input" lay-filter="distType">
                    <option value=""></option>
                    <option th:each="enum : ${distributionType}" th:value="${enum}" th:selected="${jobInfo.distType} eq ${enum} ? true : false" th:text="${enum.name}" />
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分片规则</label>
            <div class="layui-input-block">
                <input type="input" name="distRule" placeholder="分片规则" th:value="${jobInfo.distRule}" class="layui-input">
            </div>
        </div>
	    <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">优先级</label>
            <div class="layui-input-inline">
                <input type="input" name="priority" placeholder="0 - 9 越大优先级越高" th:value="${jobInfo.priority}" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">启用 / 禁用</label>
            <div class="layui-input-block">
                <input type="checkbox" name="enable" lay-skin="switch" value="1" lay-text="启用|禁用"  th:checked="${jobInfo.enable} eq 1 ? true : false" />
            </div>
        </div>
	    </div>
	    <div class="layui-form-item">
	        <label class="layui-form-label">脚本代码</label>
	        <div class="layui-input-block layui-collapse">
                <!-- begin code -->
                <textarea class="layui-textarea" id="cmdCode" name="cmd" th:text="${jobInfo.cmd}"></textarea>
                <!-- end code-->
	        </div>
	    </div>
	    <div class="layui-form-item">
            <label class="layui-form-label" id="param-tips"><i class="layui-icon">&#xe60b;</i> 附加参数</label>
            <div class="layui-input-block layui-collapse">
                <textarea class="layui-textarea" id="params" name="params" th:text="${jobInfo.params}"></textarea>
            </div>
        </div>
	
	    <div class="layui-form-item">
	        <div class="layui-input-block">
	            <button class="layui-btn" lay-submit="" lay-filter="jobSave">立即提交</button>
	            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	            <a class="layui-btn layui-btn-primary" th:href="@{/portal/job}">返回</a>
	        </div>
	    </div>
	</form>
	<!-- 通用-970*90 -->
</div>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/index.js}" charset="utf-8"></script>
<script th:src="@{/static/js/codemirror/lib/codemirror.js}" charset="utf-8"></script>
<script th:src="@{/static/js/codemirror/addon/selection/active-line.js}"></script>
<script th:src="@{/static/js/codemirror/addon/edit/matchbrackets.js}"></script>
<script th:src="@{/static/js/codemirror/addon/display/fullscreen.js}"></script>
<script th:src="@{/static/js/codemirror/mode/shell/shell.js}"></script>
<script th:src="@{/static/js/codemirror/mode/python/python.js}"></script>
<script th:src="@{/static/js/codemirror/mode/javascript/javascript.js}"></script>
<script th:src="@{/static/js/codemirror/mode/clike/clike.js}"></script>
<script th:inline="javascript">
    layui.use(['form', 'layedit', 'laydate', 'formSelects'], function(){
        var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,element = layui.element
                ,formSelects = layui.formSelects
                ,$ = layui.jquery;

                    // 处理器下拉选择框
        formSelects.config('agent-select', {
            type: 'get',
            searchUrl: [[@{/common/agent-handler-group}]],
            searchName: 'agentName',
            delay: 1000,
            beforeSearch: function(id, url, searchVal){         //搜索前调用此方法, return true将触发搜索, 否则不触发
                // console.log(searchVal);
           if(!searchVal){//如果搜索内容为空,就不触发搜索
              return false;
                        }
                  return true;
                     },
                clearInput: false
        }, false);
                    // 父节点任务下拉选择
        formSelects.config('parent-select', {
            type: 'get',
            searchUrl: [[@{/portal/job/json}]],
            searchName: 'jobName',
            searchVal: '',
            keyName: 'jobName',            //自定义返回数据中name的key, 默认 name
            keyVal: 'id',
            delay: 1000,
            beforeSearch: function(id, url, searchVal){         //搜索前调用此方法, return true将触发搜索, 否则不触发
                // console.log(searchVal);
	            if(!searchVal){//如果搜索内容为空,就不触发搜索
	               return false;
	                           } 
              return true;
                           },
            clearInput: false
        }, false);

        $("#param-tips").on('click', function() {
        	  var tip = "如 Handler 处理器需要附加参数, 请为每一条参数独立一行, 多行将会作为多条参数处理...";
	        	layer.tips(tip,  '#param-tips', {
	                tips: [3, '#78BA32']
	                    });
                  }); 
        $("#crontab-tips").on('click', function() {
            var tip = "crontab 可以不填写, 如果不填写, 则该Job为手动触发任务, 需要手动触发执行.";
              layer.tips(tip,  '#crontab-tips', {
                  tips: [1, '#78BA32']
                      });
                }); 
        
        var paramsEditor = CodeMirror.fromTextArea(document.getElementById("params"), {
            indentUnit: 4,
            styleActiveLine: true,
            lineNumbers: true,
            theme: "idea"
        });
        var codeEditor = CodeMirror.fromTextArea(document.getElementById("cmdCode"), {
            indentUnit: 4,
            styleActiveLine: true,
            lineNumbers: true,
            matchBrackets: true,
            theme: "idea",
            mode: "shell"
            //mode: "python",
            //mode: "text/x-java",
        });
    
        codeEditor.setOption("extraKeys", {
            // Tab键换成4个空格
            Tab : function(cm) {
                var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
                cm.replaceSelection(spaces);
            },
            // F11键切换全屏
            "F11" : function(cm) {
                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            // Esc键退出全屏
            "Esc" : function(cm) {
                if (cm.getOption("fullScreen")) {
                    cm.setOption("fullScreen", false);
                }
            }
        });
		    
        form.on('select(handlerType)', function(data){
            var tp = data.value.toLowerCase();
            if(tp.indexOf('java') > 0) {
                paramsEditor.setOption("mode", "text/x-java");
                codeEditor.setOption("mode", "text/x-java");
            } else if(tp.indexOf('shell') > 0) {
                paramsEditor.setOption("mode", "shell");
                codeEditor.setOption("mode", "shell");
            } else if(tp.indexOf('python') > 0) {
                paramsEditor.setOption("mode", "python");
                codeEditor.setOption("mode", "python");
            }else if(tp.indexOf('javascript') > 0) {
                paramsEditor.setOption("mode", "javascript");
                codeEditor.setOption("mode", "javascript");
            }
            console.log(data);
        });

        // 表单校验
        form.verify({
            pJob: function () {
                var selectVals = formSelects.value('parent-select', 'val');
                if (selectVals != null && selectVals.length > 0 && $('#crontab').val() !== '') {
                    return '子任务不能设置调度规则！'
                }
            }
        });
        //监听提交
        form.on('submit(jobSave)', function() {
            layer.msg('数据正在提交 ...');
        });
    });
</script>
</body>
</html>