<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>添加Job 信息</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/modules/formSelects-v4.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/codemirror/lib/codemirror.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/codemirror/addon/display/fullscreen.css}" />
    <link rel="stylesheet" th:href="@{/static/js/codemirror/theme/idea.css}"/>
    <link rel="icon" th:href="@{/static/image/code.png}">
</head>
<body class="body">
<div class="layui-row layui-col-space10 layui-col-md8 my-index-main">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	    <legend>添加 Job 任务</legend>
	</fieldset>
	
	<form class="layui-form" name="agent" th:action="@{/portal/job-save}" method="post">
	    <div class="layui-form-item">
	        <label class="layui-form-label">任务名</label>
	        <div class="layui-input-block">
	            <input type="input" name="jobName" lay-verify="title" autocomplete="off" placeholder="任务名" class="layui-input">
	        </div>
	    </div>
	    <div class="layui-form-item">
            <div class="layui-inline">
	            <label class="layui-form-label">任务类型</label>
	            <div class="layui-input-inline">
	                <select name="handlerType" class="layui-input" lay-filter="handlerType">
                        <option value=""></option>
                        <option th:each="enum : ${handlerType}" th:value="${enum}" th:text="${enum.desc}" />
                    </select>
	            </div>
	        </div>
	        <div class="layui-inline">
                <label class="layui-form-label" id="crontab-tips"><i class="layui-icon">&#xe60b;</i> 调度规则</label>
                <div class="layui-input-inline">
                    <input type="input" id="crontab" lay-verify="pJob" name="crontab" autocomplete="off" placeholder="0 * 1 * * ?" class="layui-input">
                </div>
            </div>
	    </div>
	    <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">管理员</label>
                <div class="layui-input-inline">
                    <input type="input" name="admin" autocomplete="off" placeholder="管理员" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">管理员手机</label>
                <div class="layui-input-inline">
                    <input type="input" name="adminPhone" autocomplete="off" placeholder="管理员手机号" class="layui-input">
                </div>
            </div>
        </div>
	    <div class="layui-form-item">
	        <label class="layui-form-label">管理员邮箱</label>
	        <div class="layui-input-block">
	            <input type="input" name="adminEmail" lay-verify="title" autocomplete="off" placeholder="管理员邮箱" class="layui-input">
	        </div>
	    </div>
	    <div class="layui-form-item">
            <label class="layui-form-label">父节点任务</label>
            <div class="layui-input-block">
                <select name="parentJob" xm-select="parent-select" xm-select-search="" xm-select-search-type="dl" xm-select-radio>
                    <option value=""></option>
                </select>
            </div>
        </div>
	    <div class="layui-form-item">
            <label class="layui-form-label">处理器</label>
            <div class="layui-input-block">
                <select name="agentHandlers" xm-select="agent-select" xm-select-search="" xm-select-search-type="dl">
                    <option value=""></option>
	            </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">失败策略</label>
            <div class="layui-input-block">
                <select name="handlerFailStrategy" class="layui-input" lay-filter="handlerFailStrategy">
                    <option value=""></option>
                    <option th:each="enum,stat : ${handlerFailStrategy}" th:value="${enum}" th:text="${enum.desc}" th:selected="${stat.first}" />
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分片策略</label>
            <div class="layui-input-block">
                <select name="distType" class="layui-input" lay-filter="distType">
                    <option value=""></option>
                    <option th:each="enum : ${distributionType}" th:value="${enum}" th:text="${enum.name}" />
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" id="dist-tips"><i class="layui-icon">&#xe60b;</i> 分片规则</label>
            <div class="layui-input-block">
                <input type="input" name="distRule" lay-verify="title" autocomplete="off" placeholder="分片规则" class="layui-input">
            </div>
        </div>
	    <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">优先级</label>
                <div class="layui-input-inline">
                    <input type="input" name="priority" placeholder="0 - 9 越大优先级越高"  class="layui-input" value="0">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">启用 / 禁用</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="enable" lay-skin="switch" value="1" lay-text="启用|禁用"  th:checked="true" />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">过期时间</label>
            <div class="layui-input-inline" style="width: 25%;">
                <input type="input" name="expired" placeholder="过期时间" value="1" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 70px;">
                <select name="expiredUnit" class="layui-input" lay-filter="expiredUnit">
                    <option value="h">小时</option>
                    <option value="d" selected>天</option>
                </select>
            </div>
        </div>
	    <div class="layui-form-item">
	        <label class="layui-form-label">脚本代码</label>
	        <div class="layui-input-block layui-collapse">
                <!-- begin code -->
                <textarea class="layui-textarea" id="cmdCode" name="cmd"></textarea>
                <!-- end code-->
            </div>
        </div>
	    <div class="layui-form-item">
            <label class="layui-form-label" id="param-tips"><i class="layui-icon">&#xe60b;</i> 附加参数</label>
            <div class="layui-input-block layui-collapse">
                <textarea class="layui-textarea" lay-verify="upload" id="params" name="params"></textarea>
            </div>
            <br/>
            <div class="layui-upload layui-input-block">
                <button type="button" class="layui-btn" id="param_file">
                    <i class="layui-icon">&#xe67c;</i>上传附加参数文件
                </button>
                <div class="layui-upload-list">
                </div>
            </div>
            <input type="hidden" id="paramFilePath" name="paramFilePath"/>
        </div>
	
	    <div class="layui-form-item">
	        <div class="layui-input-block">
	            <button class="layui-btn" lay-submit="" lay-filter="jobSave">立即提交</button>
	            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	            <a class="layui-btn layui-btn-primary" th:href="@{/portal/job}">返回</a>
	        </div>
	    </div>
	</form>
	<!-- 通用-970*90 -->
</div>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/index.js}" charset="utf-8"></script>
<script th:src="@{/static/js/codemirror/lib/codemirror.js}" charset="utf-8"></script>
<script th:src="@{/static/js/codemirror/addon/selection/active-line.js}"></script>
<script th:src="@{/static/js/codemirror/addon/edit/matchbrackets.js}"></script>
<script th:src="@{/static/js/codemirror/addon/display/fullscreen.js}"></script>
<script th:src="@{/static/js/codemirror/mode/shell/shell.js}"></script>
<script th:src="@{/static/js/codemirror/mode/python/python.js}"></script>
<script th:src="@{/static/js/codemirror/mode/javascript/javascript.js}"></script>
<script th:src="@{/static/js/codemirror/mode/clike/clike.js}"></script>
<script th:inline="javascript">
    layui.use(['form', 'layedit', 'laydate', 'formSelects', 'upload'], function(){
        var form = layui.form
                ,layer = layui.layer
                ,upload = layui.upload
                ,layedit = layui.layedit
                ,element = layui.element
                ,formSelects = layui.formSelects
                ,$ = layui.jquery;

        // 处理器下拉选择框
        formSelects.config('agent-select', {
            type: 'get',
            searchUrl: [[@{/common/agent-handler-group}]],
            searchName: 'agentName',
            delay: 1000,
            beforeSearch: function(id, url, searchVal){         //搜索前调用此方法, return true将触发搜索, 否则不触发
                console.log(searchVal);
                if(!searchVal){//如果搜索内容为空,就不触发搜索
                    return false;
                }
                return true;
            },
            clearInput: false
        }, false);
        // 父节点任务下拉选择
        formSelects.config('parent-select', {
            type: 'get',
            searchUrl: [[@{/portal/job/json}]],
            searchName: 'jobName',
            searchVal: '',
            keyName: 'jobName',            //自定义返回数据中name的key, 默认 name
            keyVal: 'id',
            delay: 1000,
            beforeSearch: function(id, url, searchVal) {         //搜索前调用此方法, return true将触发搜索, 否则不触发
                // console.log(searchVal);
                if(!searchVal){//如果搜索内容为空,就不触发搜索
                    return false;
                }
                return true;
            },
            clearInput: false
        }, false);

        $("#param-tips").on('click', function() {
            var tip = "如 Handler 处理器需要附加参数, 请为每一条参数独立一行, 多行将会作为多条参数处理, 如果参数过长可选择上传附件, 但只能选择其中一种方式...";
            layer.tips(tip,  '#param-tips', {
                tips: [3, '#78BA32']
            });
        });
        $("#crontab-tips").on('click', function() {
            var tip = "crontab 可以不填写, 如果不填写, 则该Job为手动触发任务, 需要手动触发执行.";
            layer.tips(tip,  '#crontab-tips', {
                tips: [1, '#78BA32']
            });
        });
        $("#dist-tips").on('click', function() {
            var tip = "枚举：各个类型之间用英文逗号隔开，例如专科,本科,硕士,博士；分页：目前只支持总页数|总数这种写法，例如7|100000；"
                + "取模：直接输入一个正整数就行；时间：时间格式|开始时间～结束时间|间隔时间，例如yyyy-MM-dd|2018-01-01～2018-01-31|1d，"
                + "间隔时间的可用单位为ymdh，分别表示年月日时。";
            layer.tips(tip,  '#dist-tips', {
                tips: [3, '#78BA32']
            });
        });
        
        var paramsEditor = CodeMirror.fromTextArea(document.getElementById("params"), {
            indentUnit: 4,
            styleActiveLine: true,
            lineNumbers: true,
            theme: "idea"
        });
        var codeEditor = CodeMirror.fromTextArea(document.getElementById("cmdCode"), {
            indentUnit: 4,
            styleActiveLine: true,
            lineNumbers: true,
            matchBrackets: true,
            theme: "idea",
            mode: "shell"
            //mode: "python",
            //mode: "text/x-java",
        });
    
        codeEditor.setOption("extraKeys", {
            // Tab键换成4个空格
            Tab : function(cm) {
                var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
                cm.replaceSelection(spaces);
            },
            // F11键切换全屏
            "F11" : function(cm) {
                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            // Esc键退出全屏
            "Esc" : function(cm) {
                if (cm.getOption("fullScreen")) {
                    cm.setOption("fullScreen", false);
                }
            }
        });

        upload.render({
            elem: '#param_file'
            ,accept: 'file'
            ,url: [[@{/portal/upload-param-file}]]
            ,done: function(res){
                $('#paramFilePath').val(res.msg);
                var file_url = [[@{/portal/download-param-file}]] + '?fileName=' + res.msg;
                var file_list = '<a id="upload_file" href="' + file_url + '" target="_blank" style="color: blue;cursor: pointer;">' + res.msg + '</a>';
                file_list += '&nbsp;&nbsp;<button type="button" class="layui-btn layui-btn-xs layui-btn-danger file-delete">删除</button>';
                $('.layui-upload-list').append(file_list);
                layer.msg('上传成功！');
            }
        });

        // 添加删除附件事件
        $('.layui-upload-list').on('click', '.file-delete', function() {
            $('#paramFilePath').val('');
            $('.layui-upload-list').empty();
        });
		    
        form.on('select(handlerType)', function(data){
            var tp = data.value.toLowerCase();
            if(tp.indexOf('java') > 0) {
                paramsEditor.setOption("mode", "text/x-java");
                codeEditor.setOption("mode", "text/x-java");
            } else if(tp.indexOf('shell') > 0) {
                paramsEditor.setOption("mode", "shell");
                codeEditor.setOption("mode", "shell");
            } else if(tp.indexOf('python') > 0) {
                paramsEditor.setOption("mode", "python");
                codeEditor.setOption("mode", "python");
            }else if(tp.indexOf('javascript') > 0) {
                paramsEditor.setOption("mode", "javascript");
                codeEditor.setOption("mode", "javascript");
            }
            console.log(data);
        });

        // 表单校验
        form.verify({
            pJob: function () {
                var selectVals = formSelects.value('parent-select', 'val');
                if (selectVals != null && selectVals.length > 0 && $('#crontab').val() !== '') {
                    return '子任务不能设置调度规则！';
                }
            },
            upload: function () {
                if ($('#paramFilePath').val() != '' && paramsEditor.getValue() != '') {
                    return '附件参数文本和附件只能选择其中一种方式上传！';
                }
            }
        });

        //监听提交
        form.on('submit(jobSave)', function() {
            layer.msg('数据正在提交 ...');
        });
    });
</script>
</body>
</html>