<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="icon" th:href="@{/static/image/code.png}">
</head>
<body class="body">

<div class="layui-row layui-col-space10 my-index-main">
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md2">
        <div class="my-nav-btn layui-clear" data-href="./demo/btn.html">
            <div class="layui-col-md5">
                <button class="layui-btn layui-icon">&#xe656;</button>
            </div>
            <div class="layui-col-md7 tc">
                <p class="my-nav-text" th:text="${agentGroupCount}"></p>
                <p class="my-nav-text layui-elip">Agent Group</p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md2">
        <div class="my-nav-btn layui-clear" data-href="./demo/form.html">
            <div class="layui-col-md5">
                <button class="layui-btn layui-icon" style="background-color: #01AAED">&#xe857;</button>
            </div>
            <div class="layui-col-md7 tc">
                <p class="my-nav-text" th:text="${agentOnlineCount}"></p>
                <p class="my-nav-text layui-elip">Agent Online</p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md2">
        <div class="my-nav-btn layui-clear" data-href="./demo/table.html">
            <div class="layui-col-md5">
                <button class="layui-btn layui-icon" style="background-color: #c2c2c2">&#xe857;</button>
            </div>
            <div class="layui-col-md7 tc">
                <p class="my-nav-text" th:text="${agentOfflineCount}"></p>
                <p class="my-nav-text layui-elip">Agent Offline</p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md2">
        <div class="my-nav-btn layui-clear" data-href="./demo/tab-card.html">
            <div class="layui-col-md5">
                <button class="layui-btn layui-btn-big layui-bg-cyan layui-icon">&#xe635;</button>
            </div>
            <div class="layui-col-md7 tc">
                <p class="my-nav-text" id="jobDisable"></p>
                <p class="my-nav-text layui-elip">Job Disable</p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md2">
        <div class="my-nav-btn layui-clear" data-href="./demo/progress-bar.html">
            <div class="layui-col-md5">
                <button class="layui-btn layui-icon" style="background-color: #5FB878">&#xe635;</button>
            </div>
            <div class="layui-col-md7 tc">
                <p class="my-nav-text" id="jobEnable"></p>
                <p class="my-nav-text layui-elip">Job Enable</p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md2">
        <div class="my-nav-btn layui-clear" data-href="./demo/folding-panel.html">
            <div class="layui-col-md5">
                <button class="layui-btn layui-icon" style="background-color: #FF5722">&#xe635;</button>
            </div>
            <div class="layui-col-md7 tc">
                <p class="my-nav-text" id="jobScheduler"></p>
                <p class="my-nav-text layui-elip">Job Scheduler</p>
            </div>
        </div>
    </div>
    
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <div class="layui-colla-content layui-show">
                    <div id="event-bar" style="height: 450px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <div class="layui-colla-content layui-show">
                    <div id="job-pie" style="height: 450px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/echarts/echarts.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'form', 'table', 'layer', 'vip_tab'], function () {
        var form = layui.form
                , table = layui.table
                , layer = layui.layer
                , vipTab = layui.vip_tab
                , $ = layui.jquery;

        // 基于准备好的dom，初始化echarts实例
        var eventChart = echarts.init(document.getElementById('event-bar'));

        // 使用刚指定的配置项和数据显示图表。
        $.get([[@{/portal/dashboard/event-chart}]]).done(function(data) {
        	  eventChart.setOption({
	            title: {
	                text: 'Event 事件'
	                    	   },
	            tooltip: {},
	            legend: {
	                data: data.legend
	                           },
	            xAxis: {
	                data: data.xAxis
	                           },
	            yAxis: {},
	            series: [{
	                name: 'Event',
	                type: 'bar',
	                data: data.yAxis
	                         }]
	                  });
                  });
        
        var jobChart = echarts.init(document.getElementById('job-pie'));
        
        $.get([[@{/portal/dashboard/job-chart}]]).done(function(data) {
	        	$(data.yAxis).each(function(idx, item) {
		        		if(item.name == '禁用') {
		        			$('#jobDisable').html(item.value)
		        		} else if(item.name == '启用') {
		        			$('#jobEnable').html(item.value);
		        		} else if(item.name == '调度中') {
		        		  $('#jobScheduler').html(item.value);
		        		        }
	        	        });
        	  jobChart.setOption({
        		    title : {
        		        text: '任务占比',
        		        x:'center'
        		                 },
        		    tooltip : {},
        		    legend: {
        		        orient : 'vertical',
        		        x : 'left',
        		        data: data.legend
        		                 },
        		    toolbox: {},
        		    calculable : true,
        		    series : [{
        		            name:'Job',
        		            type:'pie',
        		            radius : '55%',
        		            center: ['50%', '60%'],
        		            data: data.yAxis
        		                      } ]
        		             });
                   });
        // you code ...


    });
</script>
</body>
</html>