<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sam.shen.agent.mapper.ExpiredEventMapper">

    <resultMap id="ExpiredEventMap" type="org.sam.shen.agent.entity.ExpiredEvent">
        <result column="event_id" property="eventId"/>
        <result column="expired" property="expired"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectExpiredEvent" resultMap="ExpiredEventMap">
        select je.event_id, ji.expired, je.create_time
        from job_event je, job_info ji
        where je.job_id = ji.id
          and (je.stat = 'WAIT' or je.stat = 'READY' or je.stat = 'HANDLE')
          and ji.expired is not null
    </select>

    <delete id="deleteExpiredEvent" parameterType="java.lang.String">
        update job_event set stat = 'EXPIRED' where event_id in
        <foreach collection="events" item="event" open="(" separator="," close=")">
            #{event}
        </foreach>
    </delete>
</mapper>