<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="org.sam.shen.scheduing.mapper.AgentHandlerMapper">
    <resultMap type="AgentHandler" id="agentHandlerMap">
        <result column="id" property="id"/>
        <result column="agent_id" property="agentId"/>
        <result column="handler" property="handler"/>
        <result column="description" property="description"/>
        <result column="enable" property="enable"/>
    </resultMap>

    <select id="queryAgentHandlerByAgentId" parameterType="Long" resultMap="agentHandlerMap">
        <![CDATA[
            SELECT id, agent_id, handler, description, enable FROM agent_handler
        ]]>
        <where>
            <![CDATA[
                agent_id = #{agentId}
            ]]>
        </where>
    </select>
    
    <insert id="saveAgentHandlerBatch" parameterType="list">
        <![CDATA[
            INSERT INTO agent_handler(agent_id, handler, description, enable) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.agentId}, #{item.handler}, #{item.description}, #{item.enable})
        </foreach>
    </insert>
  
    <update id="upgradeAgentHandler" parameterType="map">
        <![CDATA[
            UPDATE agent_handler SET enable = #{enable}
        ]]>
        <where>
            agent_id = #{agentId}
            <if test="null != handlers">
                AND handler IN
                <foreach collection="handlers" item="item" index="index" separator="," open="(" close=")">
			        #{item}
                </foreach>
            </if>
        </where>
    </update>
  
    <select id="queryAgentHandlerByAgentName" parameterType="string" resultType="map">
        <![CDATA[
	        SELECT distinct ah.id, agent_id agentId, handler, description, enable, a.agent_name agentName
            FROM agent_handler ah
            INNER JOIN agent a ON a.id = ah.agent_id
            WHERE ah.enable = 1 AND a.agent_name LIKE CONCAT(#{agentName}, '%')
        ]]>
  </select>

    <select id="queryByAgentNameForUser" resultType="map">
        SELECT distinct
            ah.id,
            agr.agent_id agentId,
            ah.`handler`,
            ah.description,
            ah.`enable`,
            a.agent_name agentName
        FROM
            user_agent_group uag,
            agent_group_ref agr,
            agent a,
            agent_handler ah
        WHERE
	        uag.group_id = agr.agent_group_id
            AND agr.agent_id = a.id
            AND a.id = ah.agent_id
            AND ah.`enable` = 1
            <if test="agentName != null and agentName != ''">
                AND a.agent_name LIKE concat(#{agentName}, '%')
            </if>
            <if test="userId != null">
                AND uag.user_id = #{userId}
            </if>
    </select>
  
    <delete id="deleteAgentHandler" parameterType="long">
        <![CDATA[
            DELETE FROM agent_handler WHERE agent_id = #{agentId}
        ]]>
    </delete>
    
</mapper>