<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sam.shen.scheduing.mapper.AppInfoMapper">
    <resultMap id="AppInfoMap" type="org.sam.shen.scheduing.entity.AppInfo">
        <result column="app_id" property="appId"/>
        <result column="app_name" property="appName"/>
        <result column="domain" property="domain"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <sql id="Base_Column_List">
        app_id, app_name, domain, user_id
    </sql>

    <select id="selectApps" parameterType="java.lang.String" resultMap="AppInfoMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM app_info
        <where>
            <if test="appName != null and appName != ''">app_name LIKE concat(concat('%', #{appName}), '%')</if>
            <if test="userId != null">AND user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectAppInfoById" parameterType="java.lang.String" resultMap="AppInfoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM app_info
        WHERE app_id = #{appId}
    </select>

    <insert id="insertAppInfo" parameterType="org.sam.shen.scheduing.entity.AppInfo">
        INSERT INTO app_info(app_id, app_name, domain, user_id) VALUES (#{appId}, #{appName}, #{domain}, #{userId})
    </insert>
    
    <update id="updateAppInfoById" parameterType="org.sam.shen.scheduing.entity.AppInfo">
        UPDATE app_info SET app_name = #{appName}, domain = #{domain}, user_id = #{userId} WHERE app_id = #{appId}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO app_info(app_id, app_name, domain, user_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.appId}, #{item.appName}, #{item.domain}), #{item.userId}
        </foreach>
    </insert>
    
    <delete id="deleteAppInfoById" parameterType="java.lang.String">
        DELETE ai, ak, akh FROM app_info ai, app_kind ak, app_kind_handler akh WHERE ai.app_id = ak.app_id and ak.id = akh.kind_id and ai.app_id = #{appId}
    </delete>

</mapper>