<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sam.shen.scheduing.mapper.AppKindHandlerMapper">
    <resultMap id="KindHandlerMap" type="org.sam.shen.scheduing.vo.AppKindHandlerVo">
        <result column="kind_id" property="kindId"/>
        <result column="kind" property="kind"/>
        <result column="kind_handler_id" property="kindHandlerId"/>
        <result column="handler_id" property="handlerId"/>
        <result column="agent_id" property="agentId"/>
        <result column="handler" property="handler"/>
    </resultMap>

    <select id="selectKindHandler" parameterType="java.lang.String" resultMap="KindHandlerMap">
        <![CDATA[
            SELECT c.kind_id, c.kind, c.kind_handler_id, c.handler_id, d.agent_id , d.`handler`
            FROM
                (
                    SELECT
                        a.id AS kind_id ,
                        a.kind ,
                        b.id AS kind_handler_id ,
                        b.handler_id
                    FROM app_kind a
                    LEFT JOIN app_kind_handler b ON a.id = b.kind_id
                    WHERE a.id = #{kindId}
                ) c
            LEFT JOIN agent_handler d ON c.handler_id = d.id AND d.`enable` = 1
        ]]>
    </select>

    <insert id="insertKindHandler" parameterType="org.sam.shen.scheduing.entity.AppKindHandler">
        INSERT INTO app_kind_handler(id, kind_id, handler_id) VALUES (#{id}, #{kindId}, #{handlerId})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO app_kind_handler(id, kind_id, handler_id) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.kindId}, #{item.handlerId})
        </foreach>
    </insert>
    
    <delete id="deleteKindHandler" parameterType="java.lang.String">
        DELETE FROM app_kind_handler WHERE kind_id = #{kindId}
    </delete>
</mapper>