<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="org.sam.shen.scheduing.mapper.JobEventMapper">
    <resultMap type="JobEvent" id="jobEventMap">
        <result column="event_id" property="eventId"/>
        <result column="job_id" property="jobId"/>
        <result column="parent_job_id" property="parentJobId"/>
        <result column="agent_id" property="agentId"/>
        <result column="registry_handler" property="registryHandler"/>
        <result column="handler_type" property="handlerType"/>
        <result column="cmd" property="cmd"/>
        <result column="params" property="params"/>
        <result column="stat" property="stat"/>
        <result column="retry_count" property="retryCount"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

	<insert id="saveJobEventBatch" parameterType="list">
	   <![CDATA[
        INSERT INTO job_event(event_id, job_id, parent_job_id, agent_id, registry_handler, handler_type, cmd, params, stat, retry_count, create_time ) 
        VALUES 
        ]]>
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.eventId}, #{item.jobId}, #{item.parentJobId}, #{item.agentId}, #{item.registryHandler}, #{item.handlerType}, #{item.cmd}, #{item.params}, 
			#{item.stat}, #{item.retryCount}, #{item.createTime}) 
		</foreach>
  </insert>
  
  <select id="queryJobEventByAgentId" parameterType="long" resultMap="jobEventMap">
    <![CDATA[
        SELECT event_id, job_id, parent_job_id, agent_id, registry_handler, handler_type, cmd, params, stat, retry_count, create_time 
          FROM job_event 
         WHERE agent_id = #{agentId} AND stat IN ('READY', 'RETRY') 
        ]]>
  </select>
  
  <select id="countJobEventInJobIds" parameterType="list" resultType="int">
    <![CDATA[
        SELECT count(*) 
          FROM job_event 
         WHERE job_id IN
        ]]>
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
        #{item}
    </foreach>
  </select>
  
  <delete id="deleteJobEventNotEqual" parameterType="map">
    <![CDATA[
        DELETE FROM job_event WHERE event_id = #{eventId} AND agent_id != #{agentId}
        ]]>
  </delete>
  
  <update id="upgradeJobEventStatus" parameterType="map">
    <![CDATA[
        UPDATE job_event SET stat = #{stat}
        ]]>
    <if test="retryCount != null">
        <![CDATA[ , retry_count = #{retryCount} ]]>
    </if>
    <where>
        <![CDATA[ event_id = #{eventId} ]]>
        <if test="agentId != null">
            <![CDATA[ AND agent_id = #{agentId} ]]>
        </if>
    </where>
  </update>
  
  <select id="queryJobEventByEventId" parameterType="string" resultMap="jobEventMap">
    <![CDATA[
        SELECT event_id, job_id, parent_job_id, agent_id, registry_handler, handler_type, cmd, params, stat, retry_count, create_time 
          FROM job_event 
         WHERE event_id = #{eventId} 
        ]]>
  </select>
  
</mapper>