<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="org.sam.shen.scheduing.mapper.JobInfoMapper">
    <resultMap type="JobInfo" id="jobInfoMap">
        <result column="id" property="id"/>
        <result column="job_name" property="jobName"/>
        <result column="crontab" property="crontab"/>
        <result column="handler_type" property="handlerType"/>
        <result column="handler_fail_strategy" property="handlerFailStrategy"/>
        <result column="admin" property="admin"/>
        <result column="admin_email" property="adminEmail"/>
        <result column="admin_phone" property="adminPhone"/>
        <result column="executor_handlers" property="executorHandlers"/>
        <result column="cmd" property="cmd"/>
        <result column="params" property="params"/>
        <result column="parent_job_id" property="parentJobId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="priority" property="priority"/>
        <result column="enable" property="enable"/>
    </resultMap>

	<insert id="saveJobInfo" parameterType="JobInfo" useGeneratedKeys="true" keyProperty="id">
	   <![CDATA[
        INSERT INTO job_info(job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone, 
                    executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable)
        VALUES (#{jobName}, #{crontab}, #{handlerType}, #{handlerFailStrategy}, #{admin}, #{adminEmail}, #{adminPhone}, 
                #{executorHandlers}, #{cmd}, #{params}, #{parentJobId}, #{createTime}, #{updateTime}, #{priority}, #{enable})
        ]]>
  </insert>
  
  <select id="findJobInfoById" resultMap="jobInfoMap" parameterType="long">
     <![CDATA[
          SELECT id, job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone, 
                 executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable
            FROM job_info 
           WHERE id = #{id}
            ]]>
  </select>
  
  <select id="queryJobInfoForPager" resultMap="jobInfoMap" parameterType="string">
  <![CDATA[
      SELECT id, job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone, 
                 executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable
        FROM job_info 
     ]]>
  <if test="jobName != null">
    <where>
        job_name LIKE CONCAT(#{jobName}, '%')
    </where>
  </if>
 </select>
 
 <select id="queryJobInfoForList" resultMap="jobInfoMap" parameterType="string">
  <![CDATA[
      SELECT id, job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone, 
                 executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable
        FROM job_info 
     ]]>
  <if test="jobName != null">
    <where>
        job_name LIKE CONCAT(#{jobName}, '%')
    </where>
  </if>
 </select>
 
 <select id="queryJobInfoInIds" parameterType="list" resultMap="jobInfoMap">
     <![CDATA[
      SELECT id, job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone, 
                 executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable
        FROM job_info  
       WHERE id IN 
         ]]>
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
        #{item}
    </foreach>
 </select>
 
 <update id="upgradeJonInfo" parameterType="JobInfo">
	 <![CDATA[
	 UPDATE job_info 
	    SET crontab = #{crontab}, handler_type = #{handlerType}, handler_fail_strategy = #{handlerFailStrategy}, admin = #{admin}, admin_phone = #{adminPhone}, 
	        admin_email = #{adminEmail}, executor_handlers = #{executorHandlers}, cmd = #{cmd}, params = #{params}, parent_job_id = #{parentJobId}, 
	        create_time = #{createTime}, update_time = #{updateTime}, priority = #{priority}, enable = #{enable}
	  WHERE id = #{id}
	   ]]>
 </update>
 
 <select id="queryJobInfoByEnable" parameterType="int" resultMap="jobInfoMap">
    <![CDATA[
      SELECT id, job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone, 
                 executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable
        FROM job_info  
       WHERE enable = #{enable}
         ]]>
 </select>
 
 <select id="countJobInfoByEnable" parameterType="int" resultType="int">
    <![CDATA[
        SELECT COUNT(*) FROM job_info WHERE enable = #{enable}
         ]]>
 </select>

    <select id="findJobInfoByParentId" parameterType="string" resultMap="jobInfoMap">
        <![CDATA[
        SELECT id, job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone,
                 executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable
        FROM job_info
        WHERE parent_job_id = #{jobId}
        ]]>
    </select>

    <select id="queryLoadedJobs" parameterType="string" resultMap="jobInfoMap">
        <![CDATA[
        SELECT id, job_name, crontab, handler_type, handler_fail_strategy, admin, admin_email, admin_phone,
                 executor_handlers, cmd, params, parent_job_id, create_time, update_time, priority, enable
        FROM job_info
        WHERE crontab is NOT NULL AND crontab <> '' AND enable = 1
        ]]>
    </select>
  
</mapper>