<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sam.shen.scheduing.mapper.UserJobMapper">
    <resultMap id="UserJobMap" type="org.sam.shen.scheduing.entity.UserJob">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="job_id" property="jobId"/>
    </resultMap>

    <insert id="insert" parameterType="org.sam.shen.scheduing.entity.UserJob">
        INSERT INTO user_job(user_id, job_id)  VALUES (#{userId}, #{jobId})
    </insert>

    <delete id="deleteByJobId" parameterType="java.lang.String">
        DELETE FROM user_job WHERE job_id = #{jobId}
    </delete>
</mapper>