<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="org.sam.shen.scheduing.mapper.AgentMapper">
    <resultMap type="Agent" id="agentMap">
        <result column="id" property="id"/>
        <result column="agent_name" property="agentName"/>
        <result column="agent_ip" property="agentIp"/>
        <result column="agent_port" property="agentPort"/>
        <result column="admin" property="admin"/>
        <result column="admin_email" property="adminEmail"/>
        <result column="admin_phone" property="adminPhone"/>
        <result column="reg_time" property="regTime"/>
        <result column="stat" property="stat"/>
    </resultMap>

  <select id="findAgentById" parameterType="Long" resultMap="agentMap">
      <![CDATA[
          SELECT id, agent_name, agent_ip, agent_port, admin, admin_email, admin_phone, reg_time, stat 
            FROM agent
      ]]>
    <where>
    <![CDATA[
        id = #{agentName}
            ]]>
    </where>
  </select>

	<select id="findAgentByName" parameterType="String" resultMap="agentMap">
		<![CDATA[
			SELECT id, agent_name, agent_ip, agent_port, admin, admin_email, admin_phone, reg_time, stat 
			  FROM agent
		]]>
	  <where>
      <![CDATA[
          agent_name = #{agentName}
              ]]>
	  </where>
	</select>
	
	<select id="queryAgentForPager" resultMap="agentMap" parameterType="string">
  <![CDATA[
	  SELECT id, agent_name, agent_ip, agent_port, admin, admin_email, admin_phone, reg_time, stat 
	    FROM agent 
     ]]>
  <if test="agentName != null">
    <where>
        agent_name LIKE CONCAT(#{agentName}, '%')
    </where>
  </if>
 </select>
 <select id="queryAgentNoPager" resultMap="agentMap" parameterType="string">
  <![CDATA[
      SELECT id, agent_name, agent_ip, agent_port, admin, admin_email, admin_phone, reg_time, stat 
        FROM agent 
     ]]>
  <if test="agentName != null">
    <where>
        agent_name LIKE CONCAT(#{agentName}, '%')
    </where>
  </if>
 </select>
 
	<insert id="saveAgent" parameterType="Agent" useGeneratedKeys="true" keyProperty="id">
	   <![CDATA[
        INSERT INTO agent(agent_name, agent_ip, agent_port, admin, admin_email, admin_phone, reg_time, stat) 
        VALUES (#{agentName}, #{agentIp}, #{agentPort}, #{admin}, 
                #{adminEmail}, #{adminPhone}, #{regTime}, #{stat}) 
        ]]>
  </insert>
  
  <update id="upgradeAgent" parameterType="Agent">
       <![CDATA[
        UPDATE agent 
           SET admin = #{admin}, admin_email = #{adminEmail}, admin_phone = #{adminPhone} 
         WHERE id = #{id} 
        ]]>
  </update>
  
  <select id="countAgent" parameterType="int" resultType="long">
    <![CDATA[
        SELECT count(*) cnt FROM agent WHERE stat = #{stat}
         ]]>
  </select>
  
  <select id="queryAgentByAgentGroup" resultMap="agentMap" parameterType="long">
  <![CDATA[
      SELECT a.id, agent_name, agent_ip, agent_port, admin, admin_email, admin_phone, reg_time, stat 
        FROM agent a 
       INNER JOIN agent_group_ref agr 
          ON a.id = agr.agent_id 
       WHERE agr.agent_group_id = #{agentGroupId}
     ]]>
 </select>
	
</mapper>