<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Mapper接口 -->
<mapper namespace="org.sam.shen.scheduing.mapper.CompanyMapper">
	<select id="selectCompanyPager" resultType="org.sam.shen.scheduing.entity.Company">
		SELECT fullname, phone, email FROM company
	</select>
</mapper>