<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="org.sam.shen.scheduing.mapper.JobEventMapper">
    <resultMap type="JobEvent" id="jobEventMap">
        <result column="id" property="id"/>
        <result column="job_id" property="jobId"/>
        <result column="parent_job_id" property="parentJobId"/>
        <result column="agent_id" property="agentId"/>
        <result column="registry_handler" property="registryHandler"/>
        <result column="handler_type" property="handlerType"/>
        <result column="cmd" property="cmd"/>
        <result column="params" property="params"/>
        <result column="stat" property="stat"/>
        <result column="retry_count" property="retryCount"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

	<insert id="saveJobEventBatch" parameterType="list">
	   <![CDATA[
        INSERT INTO job_event(job_id, parent_job_id, agent_id, registry_handler, handler_type, cmd, params, stat, retry_count, create_time ) 
        VALUES 
        ]]>
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.jobId}, #{item.parentJobId}, #{item.agentId}, #{item.registryHandler}, #{item.handlerType}, #{item.cmd}, #{item.params}, 
			#{item.stat}, #{item.retryCount}, #{item.createTime}) 
		</foreach>
  </insert>
  
</mapper>