<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>app config</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/modules/formSelects-v4.css}"/>
    <link rel="icon" th:href="@{/static/image/code.png}">
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/index.js}"></script>
    <!-- 表格操作按钮集 -->
    <script type="text/html" id="barOption">
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
        <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
    </script>
</head>
<body class="body">

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>
        <span th:text="'应用ID: '  + ${appId}"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/config/app}"> <<--- 返回</a>
    </legend>
</fieldset>

<!-- 工具集 -->
<div class="my-btn-box">
    <span class="fl">
        分类标签：
        <div class="layui-input-inline">
            <input type="text" autocomplete="off" id="kind" placeholder="请输入搜索条件" class="layui-input">
        </div>
        <button class="layui-btn mgl-20" id="btn-search">查询</button>
        <a class="layui-btn btn-add btn-default" id="btn-add"><i class="layui-icon">&#xe608;</i> 添加</a>
    </span>
</div>

<div id="app-table" lay-filter="appTable"></div>

</body>

<!-- 新增应用弹出层 -->
<div id="app-add" style="margin: 40px 20px;display: none;">
    <input type="hidden" id="kindId"/>
    <div class="layui-form-item">
        <label class="layui-form-label">分类标签</label>
        <div class="layui-input-block">
            <input type="input" name="kind" lay-verify="title" autocomplete="off" placeholder="分类标签" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">处理器</label>
        <div class="layui-input-block">
            <select name="handlers" xm-select="handlers-select" xm-select-search="" xm-select-search-type="dl">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>

<script language="JavaScript" th:inline="javascript">
    // layui方法
    layui.use(['table', 'form', 'layer', 'formSelects'], function () {

        // 操作对象
        var form = layui.form,
            table = layui.table,
            layer = layui.layer,
            $ = layui.jquery,
            formSelects = layui.formSelects;

        // 表格渲染
        var tableIns = table.render({
            elem: '#app-table',                  //指定原始表格元素选择器（推荐id选择器）
            height: 'full-200',    //容器高度
            cols: [[   // 标题栏目
                {field: 'id', title: '分类ID'},
                {field: 'kind', title: '分类标签'},
                {field: 'handlers', title: '处理器'},
                {fixed: 'right', title: '操作', align: 'center', toolbar: '#barOption', width: 250}
            ]],
            url: [[@{/config/kinds}]] + '?appId=' + [[${appId}]],
            method: 'get',
            page: {
                layout: ['count', 'prev', 'page', 'next'],   //自定义分页布局
                groups: 10 //只显示 1 个连续页码
            },
            loading: false
        });

        formSelects.config('handlers-select', {
            type: 'get',
            searchUrl: [[@{/common/agent-handler-group-app}]],
            searchName: 'agentName',
            delay: 1000,
            beforeSearch: function(id, url, searchVal) {         //搜索前调用此方法, return true将触发搜索, 否则不触发
                return true;
            },
            clearInput: false
        }, false);

        // 获取选中行
        table.on('tool(appTable)', function (obj) {
            if (obj.event == 'edit') {
                editApp(obj.data.id);
            } else if (obj.event == 'del') {
                delApp(obj.data.id);
            }
        });

        // 查询
        $('#btn-search').on('click', function () {
            refresh();
        });

        function refresh() {
            tableIns.reload({
                where: {
                    kind: $('#kind').val()
                }
            });
        }

        function clear() {
            $('#kindId').val('');
            $('input[name="kind"]').val('');
            formSelects.value('handlers-select', ['']);
        }

        // 新增
        $('#btn-add').on('click', function () {
            clear();
            layer.open({
                type: 1,
                title: '新增分类标签',
                content: $('#app-add'),
                area: ['750px', '500px'],
                btn: ['保存'],
                btn1: function (index) {
                    $.ajax({
                        type: 'post',
                        url: [[@{/config/kinds}]],
                        dataType: 'json',
                        headers: {
                            'Content-Type' : 'application/json;charset=utf-8'
                        },
                        data: JSON.stringify({
                            "appId": [[${appId}]],
                            "kind": $('input[name="kind"]').val(),
                            "handlers": formSelects.value('handlers-select', 'val')
                        })
                    }).done(function (data) {
                        if (data.code === 1) {
                            layer.msg(data.msg);
                        } else {
                            layer.msg('保存成功！');
                            layer.close(index);
                            refresh();
                        }
                    });
                }
            });
        });

        // 编辑
        function editApp(kindId) {
            clear();
            $.get([[@{/config/kinds/}]] + kindId, function (data) {
                var kind = data.data;
                $('#kindId').val(kind.id);
                $('input[name="kind"]').val(kind.kind);
                var handlers = kind.handlers == null ? '' : kind.handlers;
                formSelects.value('handlers-select', handlers.split(","));
                layer.open({
                    type: 1,
                    title: '编辑分类标签',
                    content: $('#app-add'),
                    area: ['750px', '500px'],
                    btn: ['保存'],
                    btn1: function (index) {
                        $.ajax({
                            type: 'put',
                            url: [[@{/config/kinds/}]] + $('#kindId').val(),
                            dataType: 'json',
                            headers: {
                                'Content-Type' : 'application/json;charset=utf-8'
                            },
                            data: JSON.stringify({
                                "kind": $('input[name="kind"]').val(),
                                "handlers": formSelects.value('handlers-select', 'val')
                            })
                        }).done(function (data) {
                            if (data.code === 1) {
                                layer.msg(data.msg);
                            } else {
                                layer.msg('编辑成功！');
                                layer.close(index);
                                refresh();
                            }
                        });
                    }
                });
            });
        }

        // 删除
        function delApp(kindId) {
            layer.confirm('是否删除该分类标签？', function () {
                $.ajax({
                    type: 'delete',
                    url: [[@{/config/kinds/}]] + kindId,
                    dataType: 'json',
                    headers: {
                        'Content-Type' : 'application/json;charset=utf-8'
                    }
                }).done(function (data) {
                    if (data.code === 1) {
                        layer.msg(data.msg);
                    } else {
                        layer.msg('删除成功！');
                        refresh();
                    }
                });
            });
        }
    });
</script>
</html>