<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>app config</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/modules/formSelects-v4.css}"/>
    <link rel="icon" th:href="@{/static/image/code.png}">
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/index.js}"></script>
    <!-- 表格操作按钮集 -->
    <script type="text/html" id="barOption">
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="pwd"><i class="layui-icon">&#xe673;</i></a>
        <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
    </script>
</head>
<body class="body">

<!-- 工具集 -->
<div class="my-btn-box">
    <span class="fl">
        用户名：
        <div class="layui-input-inline">
            <input type="text" autocomplete="off" id="uname" placeholder="请输入搜索条件" class="layui-input">
        </div>
        <button class="layui-btn mgl-20" id="btn-search">查询</button>
        <a class="layui-btn btn-add btn-default" id="btn-add"><i class="layui-icon">&#xe608;</i> 添加</a>
    </span>
</div>

<div id="user-table" lay-filter="userTable"></div>

</body>

<!-- 新增应用弹出层 -->
<div id="user-add" style="margin: 40px 20px;display: none;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="uname" lay-verify="required" autocomplete="off" placeholder="用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="required" autocomplete="off" placeholder="密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户端组</label>
        <div class="layui-input-block">
            <select name="groups" xm-select="groups-select-add" xm-select-search="" xm-select-search-type="dl">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>

<!-- 编辑应用弹出层 -->
<div id="user-edit" style="margin: 40px 20px;display: none;">
    <input type="hidden" id="id" name="id"/>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="uname" lay-verify="required" autocomplete="off" placeholder="用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户端组</label>
        <div class="layui-input-block">
            <select name="groups" xm-select="groups-select-edit" xm-select-search="" xm-select-search-type="dl">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>

<!-- 修改密码应用弹出层 -->
<div id="change-pwd" style="margin: 40px 20px;display: none;">
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" id="pwd" lay-verify="required" autocomplete="off" placeholder="密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码确认</label>
        <div class="layui-input-block">
            <input type="password" id="pwd_cfm" lay-verify="required" autocomplete="off" placeholder="密码确认" class="layui-input">
        </div>
    </div>
</div>

<script th:inline="javascript">
    // layui方法
    layui.use(['table', 'form', 'layer', 'laytpl', 'formSelects'], function () {

        // 操作对象
        var form = layui.form,
            formSelects = layui.formSelects,
            table = layui.table,
            layer = layui.layer,
            $ = layui.jquery;

        // 表格渲染
        var tableIns = table.render({
            elem: '#user-table',                  //指定原始表格元素选择器（推荐id选择器）
            height: 'full-200',    //容器高度
            cols: [[   // 标题栏目
                {field: 'userId', title: '用户ID'},
                {field: 'uname', title: '用户名'},
                {field: 'groups', title: '客户端组'},
                {fixed: 'right', title: '操作', align: 'center', toolbar: '#barOption', width: 250}
            ]],
            url: [[@{/config/users}]],
            method: 'get',
            page: {
                layout: ['count', 'prev', 'page', 'next'],   //自定义分页布局
                groups: 10 //只显示 1 个连续页码
            },
            loading: false
        });

        formSelects.config('groups-select-add', {
            type: 'get',
            searchUrl: [[@{/portal/agent-group-select}]],
            searchName: 'groupName',
            delay: 1000,
            clearInput: false
        }, false);

        formSelects.config('groups-select-edit', {
            type: 'get',
            searchUrl: [[@{/portal/agent-group-select}]],
            searchName: 'groupName',
            delay: 1000,
            clearInput: false
        }, false);

        // 获取选中行
        table.on('tool(userTable)', function (obj) {
            if (obj.event == 'edit') {
                editApp(obj.data.userId);
            } else if (obj.event == 'del') {
                delApp(obj.data.userId);
            } else if (obj.event == 'pwd') {
                changePwd(obj.data.userId);
            }
        });

        // 查询
        $('#btn-search').on('click', function () {
            refresh();
        });

        function refresh() {
            tableIns.reload({
                where: {
                    uname: $('#uname').val()
                }
            });
        }

        function clear() {
            $('#id').val('');
            $('input[name="uname"]').val('');
            $('input[name="password"]').val('');
            formSelects.value('groups-select-add', ['']);
            formSelects.value('groups-select-edit', ['']);
        }

        // 新增
        $('#btn-add').on('click', function () {
            clear();
            layer.open({
                type: 1,
                title: '新增用户',
                content: $('#user-add'),
                area: ['750px', '500px'],
                btn: ['保存'],
                btn1: function (index) {
                    $.ajax({
                        type: 'post',
                        url: [[@{/config/users}]],
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        data: JSON.stringify({
                            uname: $('#user-add input[name="uname"]').val(),
                            password: $('#user-add input[name="password"]').val(),
                            groups: formSelects.value('groups-select-add', 'valStr')
                        })
                    }).done(function (data) {
                        if (data.code === 1) {
                            layer.msg(data.msg);
                        } else {
                            layer.msg('保存成功！');
                            layer.close(index);
                            refresh();
                        }
                    });
                }
            });
        });

        // 编辑
        function editApp(userId) {
            clear();
            $.get([[@{/config/users/}]] + userId, function (data) {
                var user = data.data;
                $('#id').val(user.userId);
                $('#user-edit input[name="uname"]').val(user.uname);
                if (user.groupIds != null && user.groupIds !== '') {
                    formSelects.value('groups-select-edit', user.groupIds.split(','));
                }
                layer.open({
                    type: 1,
                    title: '编辑用户',
                    content: $('#user-edit'),
                    area: ['750px', '500px'],
                    btn: ['保存'],
                    btn1: function (index) {
                        $.ajax({
                            type: 'put',
                            url: [[@{/config/users/}]] + $('#id').val(),
                            dataType: 'json',
                            contentType: 'application/json;charset=utf-8',
                            data: JSON.stringify({
                                uname: $('#user-edit input[name="uname"]').val(),
                                groupIds: formSelects.value('groups-select-edit', 'valStr')
                            })
                        }).done(function (data) {
                            if (data.code === 1) {
                                layer.msg(data.msg);
                            } else {
                                layer.msg('编辑成功！');
                                layer.close(index);
                                refresh();
                            }
                        });
                    }
                });
            });
        }

        // 修改密码
        function changePwd(userId) {
            $('#pwd').val('');
            $('#pwd_cfm').val('');
            layer.open({
                type: 1,
                title: '修改密码',
                content: $('#change-pwd'),
                area: ['750px', '500px'],
                btn: ['保存'],
                btn1: function (index) {
                    var pwd = $('#pwd').val();
                    var pwd_cfm = $('#pwd_cfm').val();
                    if (pwd !== pwd_cfm) {
                        layer.error('密码输入不一致！');
                        return;
                    }
                    $.ajax({
                        type: 'post',
                        url: [[@{/config/users/}]] + userId + '/change-pwd',
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        data: JSON.stringify({
                            password: pwd
                        })
                    }).done(function (data) {
                        if (data.code === 1) {
                            layer.msg(data.msg);
                        } else {
                            layer.msg('保存成功！');
                            layer.close(index);
                            refresh();
                        }
                    });
                }
            });
        }

        // 删除
        function delApp(userId) {
            layer.confirm('是否删除该用户？', function () {
                $.ajax({
                    type: 'delete',
                    url: [[@{/config/users/}]] + userId,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                }).done(function (data) {
                    if (data.code === 1) {
                        layer.msg(data.msg);
                    } else {
                        layer.msg('删除成功！');
                        refresh();
                    }
                });
            });
        }
    });
</script>
</html>